<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com.tr">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com.tr/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com.tr">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com.tr/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com.tr" target="_blank">Creative Tim Coin</a> for a better web.
        </div>
    </div>
</footer>
